@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    background: #f9fbfd;
}
.school-card {
    background: white;
    margin: 20px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}
img {
    height: 50px;
}
.search-container {
    text-align: center;
}
.search-container input {
    text-align: center;
    height: 30px;
    width: 60%;
    border-radius: 15px;
    border: #e3e5ea solid 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}